<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee">
    <display-name>TeamC</display-name>
  <welcome-file-list>
    <welcome-file>/jsp/login1.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>QuestionController</display-name>
    <servlet-name>QuestionController</servlet-name>
    <servlet-class>com.controller.QuestionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionController</servlet-name>
    <url-pattern>/QuestionController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FacultyController</display-name>
    <servlet-name>FacultyController</servlet-name>
    <servlet-class>com.controller.FacultyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacultyController</servlet-name>
    <url-pattern>/FacultyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssessmentController</display-name>
    <servlet-name>AssessmentController</servlet-name>
    <servlet-class>com.controller.AssessmentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssessmentController</servlet-name>
    <url-pattern>/AssessmentController</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/Error/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/Error/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/Error/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/Error/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <error-code>503</error-code>
    <location>/Error/ErrorPage.jsp</location>
  </error-page>
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/Error/ErrorPage.jsp</location>
  </error-page>
</web-app>